<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Main page</title>
      <link rel="icon" href="/images/weather.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <link rel="stylesheet" href="/css/style.css">

</head>

<body>
      {{>header}}
      <div class="container-body">
            <h1 style="color: red; font-weight: bold;">{{title}}</h1>
            <img src="/images/404.jpeg" alt="404">
      </div>
      {{>footer}}
</body>

</html>